* {
	padding: 0;
	margin: 0;
}

body {
	margin: 0 auto;
	/*background-color: #FAFAFA;*/
}

a {
	color: #505050;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid red;
}

*:focus, *:active {
	outline: none;
}

.root_app {
	width: 100%;
	min-height: calc(100vh);
}

.main-menu {
	height: 35px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.main-menu a {
	padding: 5px 10px;
	flex: 1;
	text-align: center;
}

.main-menu a:not(:first-of-type) {
	border-left: 1px solid #505050;
}

	.main-menu a:hover {
		border-bottom-color: #505050;
	}

	.main-menu a.active {
		color: orangered;
	}

.content-wrapper {
	display: flex;
}

	.content-wrapper--left-menu {
		flex: 1
	}

		.left-side-menu {
			display: flex;
			flex-direction: column;
			width: 145px;
			padding: 10px 10px;
		}

	.content-wrapper--content {
		flex: 1;
	}